name: DocTest

on:
  workflow_dispatch:

jobs:
  doctest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run DocTest
        uses: ./.github/actions/test-doctest
